<h1><%= @event.name %></h1>

<p>
  <%= link_to "打開前台", event_path(@event), :target => "_blank", :class => "btn btn-primary" %>
</p>

<%= sanitize @event.description %>

<h1>Title</h1>

<strong style="color: red">STRONG</strong> is red.

<table border="1">
  <tr>
    <td>AAA</td>
    <td>BBB</td>
  </tr>
  <tr>
    <td>AAA</td>
    <td>BBB</td>
  </tr>
</table>
